
# Frontend Environment Variables
VITE_API_URL=http://localhost:5000/api

# Backend Environment Variables
ASPNETCORE_ENVIRONMENT=Development
CONNECTION_STRING="Host=postgres;Port=5432;Database=share4recipe;Username=postgres;Password=yourpassword"
JWT_SECRET="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30"

# Database Environment Variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=share4recipe
